<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @question.active %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Preface:</strong>
  <%= @question.preface %>
</p>

<p>
  <strong>Citation:</strong>
  <%= @question.citation %>
</p>

<p>
  <strong>Subjecttype:</strong>
  <%= @question.subjectType %>
</p>

<p>
  <strong>Answertype:</strong>
  <%= @question.answerType %>
</p>

<p>
  <strong>Askingstylelist:</strong>
  <%= @question.askingStyleList %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @question.ordering %>
</p>

<p>
  <strong>Otherspecify:</strong>
  <%= @question.otherSpecify %>
</p>

<p>
  <strong>Nonebutton:</strong>
  <%= @question.noneButton %>
</p>

<p>
  <strong>Allbutton:</strong>
  <%= @question.allButton %>
</p>

<p>
  <strong>Pageleveldontknowbutton:</strong>
  <%= @question.pageLevelDontKnowButton %>
</p>

<p>
  <strong>Pagelevelrefusebutton:</strong>
  <%= @question.pageLevelRefuseButton %>
</p>

<p>
  <strong>Dontknowbutton:</strong>
  <%= @question.dontKnowButton %>
</p>

<p>
  <strong>Refusebutton:</strong>
  <%= @question.refuseButton %>
</p>

<p>
  <strong>Alloptionstring:</strong>
  <%= @question.allOptionString %>
</p>

<p>
  <strong>Uselfexpression:</strong>
  <%= @question.uselfExpression %>
</p>

<p>
  <strong>Minlimittype:</strong>
  <%= @question.minLimitType %>
</p>

<p>
  <strong>Minliteral:</strong>
  <%= @question.minLiteral %>
</p>

<p>
  <strong>Minprevques:</strong>
  <%= @question.minPrevQues %>
</p>

<p>
  <strong>Maxlimittype:</strong>
  <%= @question.maxLimitType %>
</p>

<p>
  <strong>Maxliteral:</strong>
  <%= @question.maxLiteral %>
</p>

<p>
  <strong>Maxprevques:</strong>
  <%= @question.maxPrevQues %>
</p>

<p>
  <strong>Mincheckableboxes:</strong>
  <%= @question.minCheckableBoxes %>
</p>

<p>
  <strong>Maxcheckableboxes:</strong>
  <%= @question.maxCheckableBoxes %>
</p>

<p>
  <strong>Withlistrange:</strong>
  <%= @question.withListRange %>
</p>

<p>
  <strong>Listrangestring:</strong>
  <%= @question.listRangeString %>
</p>

<p>
  <strong>Minlistrange:</strong>
  <%= @question.minListRange %>
</p>

<p>
  <strong>Maxlistrange:</strong>
  <%= @question.maxListRange %>
</p>

<p>
  <strong>Timeunits:</strong>
  <%= @question.timeUnits %>
</p>

<p>
  <strong>Symmetric:</strong>
  <%= @question.symmetric %>
</p>

<p>
  <strong>Keeponsamepage:</strong>
  <%= @question.keepOnSamePage %>
</p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @question.studyId, @question.study %>
</p>

<p>
  <strong>Answerreasonexpressionid:</strong>
  <%= @question.answerReasonExpressionId %>
</p>

<p>
  <strong>Networkrelationshipexprid:</strong>
  <%= @question.networkRelationshipExprId %>
</p>

<p>
  <strong>Networkparams:</strong>
  <%= @question.networkParams %>
</p>

<p>
  <strong>Networkncolorqid:</strong>
  <%= @question.networkNColorQId %>
</p>

<p>
  <strong>Networknsizeqid:</strong>
  <%= @question.networkNSizeQId %>
</p>

<p>
  <strong>Networkecolorqid:</strong>
  <%= @question.networkEColorQId %>
</p>

<p>
  <strong>Networkesizeqid:</strong>
  <%= @question.networkESizeQId %>
</p>

<p>
  <strong>UsealterlistField:</strong>
  <%= @question.useAlterListField %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @question.javascript %>
</p>

<%= link_to 'Back', questions_path %>
