<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
	<thead>
		<tr>
			<th>Interview ID</th>
			<th>Expression ID</th>
			<th>Alter ID</th>
			<th>Notes</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<% @notes.each do |note| %>
			<tr>
				<td><%= link_to note.interviewId, note.interview %></td>
				<td><%= link_to note.expressionId, note.expression %></td>
				<td><%= link_to note.alterId, note.alter %></td>
				<td><%= note.notes %></td>
				<td><%= link_to 'Show', note %></td>
			</tr>
		<% end %>
	</tbody>
</table>
