<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewid:</strong>
  <%= @note.interviewId %>
</p>

<p>
  <strong>Expressionid:</strong>
  <%= @note.expressionId %>
</p>

<p>
  <strong>Alterid:</strong>
  <%= @note.alterId %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<%= link_to 'Back', notes_path %>
