<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewid:</strong>
  <%= link_to @note.interviewId, @note.interview %>
</p>

<p>
  <strong>Expressionid:</strong>
  <%= link_to @note.expressionId, @note.expression %>
</p>

<p>
  <strong>Alterid:</strong>
  <%= link_to @note.alterId, @note.alter %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<%= link_to 'Back', notes_path %>
