<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewid:</strong>
  <%= link_to @note.interviewId, interview_path( @note.interviewId ) %>
</p>

<p>
  <strong>Expressionid:</strong>
  <%= link_to @note.expressionId, expression_path( @note.expressionId ) %>
</p>

<p>
  <strong>Alterid:</strong>
  <%= link_to @note.alterId, alter_path( @note.alterId ) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<%= link_to 'Back', notes_path %>
