<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewid:</strong>
  <%= @note.interviewId %>
</p>

<p>
  <strong>Expressirails:</strong>
  <%= @note.expressirails %>
</p>

<p>
  <strong>Nteger:</strong>
  <%= @note.nteger %>
</p>

<p>
  <strong>Alterid:</strong>
  <%= @note.alterId %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<%= link_to 'Back', notes_path %>
