<p id="notice"><%= notice %></p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @matched_alter.studyId, @matched_alter.study %>
</p>

<p>
  <strong>Alterid1:</strong>
  <%= link_to @matched_alter.alterId1, @matched_alter.alter1 %>
</p>

<p>
  <strong>Alterid2:</strong>
  <%= link_to @matched_alter.alterId2, @matched_alter.alter2 %>
</p>

<p>
  <strong>Matchedname:</strong>
  <%= @matched_alter.matchedName %>
</p>

<%= link_to 'Back', matched_alters_path %>
