
<% e = YAML.load_file('config/answers.yml')['testing_facilitation'].with_indifferent_access %>

<%= form_for(testing_facilitation) do |f| %>
	<% if testing_facilitation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(testing_facilitation.errors.count, "error") %> prohibited this testing_facilitation from being saved:</h2>

			<ul>
			<% testing_facilitation.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :data_entry_name %>
		<%= f.text_field :data_entry_name %>
	</div>

	<div class="field">
		<%= f.label :date_of_visit %>
		<%= f.text_field :date_of_visit %>
	</div>

	<div class="field">
		<%= f.label :participant_id %>
		<%= f.text_field :participant_id %>
	</div>

	<div class="field">
		<%= f.label :staff_person %>
		<%= f.text_field :staff_person %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :agree_to_use_home_test_kit_at_site, e[:agree_to_use_home_test_kit_at_site] ) %>
	</div>

	<div class="field">
		<%= f.label :agree_to_use_home_test_kit_at_site_refusal_reason %>
		<%= f.text_field :agree_to_use_home_test_kit_at_site_refusal_reason %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :agree_to_take_test_kit_home, e[:agree_to_take_test_kit_home] ) %>
	</div>

	<div class="field">
		<%= f.label :agree_to_take_test_kit_home_refusal_reason %>
		<%= f.text_field :agree_to_take_test_kit_home_refusal_reason %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :agree_to_tell_result_of_home_test_kit, e[:agree_to_tell_result_of_home_test_kit] ) %>
	</div>

	<div class="field">
		<%= f.label :agree_to_tell_result_of_home_test_kit_refusal_reason %>
		<%= f.text_field :agree_to_tell_result_of_home_test_kit_refusal_reason %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :result_of_home_test_kit, e[:result_of_home_test_kit] ) %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :confirmatory_test_referred_location, e[:confirmatory_test_referred_location] ) %>
	</div>

	<div class="field">
		<%= f.label :confirmatory_test_referred_appointment %>
		<%= f.text_field :confirmatory_test_referred_appointment %>
	</div>

	<div class="field">
		<%= f.label :confirmatory_test_referred_location_other %>
		<%= f.text_field :confirmatory_test_referred_location_other %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :indeterminate_test_option, e[:indeterminate_test_option] ) %>
	</div>

	<div class="field">
		<%= f.label :indeterminate_test_result %>
		<%= f.text_field :indeterminate_test_result %>
	</div>

	<div class="field">
		<%= f.label :indeterminate_test_referred_to %>
		<%= f.text_field :indeterminate_test_referred_to %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :urine_to_test, e[:urine_to_test] ) %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :urine_to_test_refusal_reason, e[:urine_to_test_refusal_reason] ) %>
	</div>

	<div class="field">
		<%= f.label :urine_to_test_refusal_reason_other %>
		<%= f.text_field :urine_to_test_refusal_reason_other %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :gonorrhea_result, e[:gonorrhea_result] ) %>
	</div>

	<div class="field">
		<%= f.radio_button_group_with_labels( :chlamydia_result, e[:chlamydia_result] ) %>
	</div>

	<div class="field">
		<%= f.label :notes %>
		<%= f.text_area :notes %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
