<p id="notice"><%= notice %></p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.date_of_visit' %>:</strong>
	<%= @testing_facilitation.date_of_visit %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.participant_id' %>:</strong>
	<%= @testing_facilitation.participant_id %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.staff_person' %>:</strong>
	<%= @testing_facilitation.staff_person %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.agree_to_use_home_test_kit_at_site' %>:</strong>
	<%= @testing_facilitation.agree_to_use_home_test_kit_at_site %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.agree_to_use_home_test_kit_at_site_refusal_reason' %>:</strong>
	<%= @testing_facilitation.agree_to_use_home_test_kit_at_site_refusal_reason %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.agree_to_take_test_kit_home' %>:</strong>
	<%= @testing_facilitation.agree_to_take_test_kit_home %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.agree_to_take_test_kit_home_refusal_reason' %>:</strong>
	<%= @testing_facilitation.agree_to_take_test_kit_home_refusal_reason %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.agree_to_tell_result_of_home_test_kit' %>:</strong>
	<%= @testing_facilitation.agree_to_tell_result_of_home_test_kit %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.agree_to_tell_result_of_home_test_kit_refusal_reason' %>:</strong>
	<%= @testing_facilitation.agree_to_tell_result_of_home_test_kit_refusal_reason %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.result_of_home_test_kit' %>:</strong>
	<%= @testing_facilitation.result_of_home_test_kit %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.confirmatory_test_referred_location' %>:</strong>
	<%= @testing_facilitation.confirmatory_test_referred_location %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.confirmatory_test_referred_appointment' %>:</strong>
	<%= @testing_facilitation.confirmatory_test_referred_appointment %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.confirmatory_test_referred_location_other' %>:</strong>
	<%= @testing_facilitation.confirmatory_test_referred_location_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.indeterminate_test_option' %>:</strong>
	<%= @testing_facilitation.indeterminate_test_option %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.indeterminate_test_result' %>:</strong>
	<%= @testing_facilitation.indeterminate_test_result %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.indeterminate_test_referred_to' %>:</strong>
	<%= @testing_facilitation.indeterminate_test_referred_to %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.urine_to_test' %>:</strong>
	<%= @testing_facilitation.urine_to_test %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.urine_to_test_refusal_reason' %>:</strong>
	<%= @testing_facilitation.urine_to_test_refusal_reason %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.urine_to_test_refusal_reason_other' %>:</strong>
	<%= @testing_facilitation.urine_to_test_refusal_reason_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.testing_facilitation.notes' %>:</strong>
	<%= @testing_facilitation.notes %>
</p>

<%= link_to 'Edit', edit_testing_facilitation_path(@testing_facilitation) %> |
<%= link_to 'Back', testing_facilitations_path %>
