<p id="notice"><%= notice %></p>

<h1>Interview Notes</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Interview date</th>
      <th>Interviewer</th>
      <th>Interview notes</th>
      <th>Process notes</th>
      <th>Show</th>
			<% if current_rails_user.present? and current_rails_user.is_admin? %>
      <th>Edit</th>
      <th>Destroy</th>
			<% end %>
    </tr>
  </thead>

  <tbody>
    <% @interview_notes.each do |interview_note| %>
      <tr>
        <td><%= interview_note.participant_id %></td>
        <td><%= interview_note.interview_date %></td>
        <td><%= interview_note.interviewer %></td>
        <td><%= interview_note.interview_notes %></td>
        <td><%= interview_note.process_notes %></td>
        <td><%= link_to 'Show', interview_note %></td>
				<% if current_rails_user.present? and current_rails_user.is_admin? %>
	        <td><%= link_to 'Edit', edit_interview_note_path(interview_note) %></td>
	        <td><%= link_to 'Destroy', interview_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_rails_user.present? and current_rails_user.is_admin? %>
<%= link_to 'New Interview Note', new_interview_note_path %>
<% end %>
