<p id="notice"><%= notice %></p>

<h1>Interview Notes</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Interview date</th>
      <th>Interview notes</th>
      <th>Process notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interview_notes.each do |interview_note| %>
      <tr>
        <td><%= interview_note.participant_id %></td>
        <td><%= interview_note.interview_date %></td>
        <td><%= interview_note.interview_notes %></td>
        <td><%= interview_note.process_notes %></td>
        <td><%= link_to 'Show', interview_note %></td>
        <td><%= link_to 'Edit', edit_interview_note_path(interview_note) %></td>
        <td><%= link_to 'Destroy', interview_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview Note', new_interview_note_path %>
