<tr>
	<td><%= alter_referral_counter + 1 %></td>
	<td><%= alter_referral.plan_to_refer %></td>
	<td><%= alter_referral.first_name %></td>
	<td><%= alter_referral.last_initial %></td>
	<td><%= alter_referral.last_4_cell %></td>
	<td><%= alter_referral.date_of_alter_interview %></td>
	<td><%= alter_referral.alter_id %></td>
	<td><%= alter_referral.date_ego_notified %></td>
	<td><%= alter_referral.date_ego_paid %></td>
</tr>
