<p id="notice"><%= notice %></p>

<p>
	<strong><%= t 'activerecord.attributes.alter_referral_sheet.data_entry_name' %>:</strong>
	<%= @alter_referral_sheet.data_entry_name %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.alter_referral_sheet.ego_id' %>:</strong>
	<%= @alter_referral_sheet.ego_id %>
</p>

<%# if @alter_referral_sheet.alter_referrals_count > 0 %>
<table>
	<thead><tr>
		<th>&nbsp;</th>
		<th><%= t 'activerecord.attributes.alter_referral.plan_to_refer' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.first_name' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.last_initial' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.last_4_cell' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.date_of_alter_interview' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.alter_id' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.date_ego_notified' %></th>
		<th><%= t 'activerecord.attributes.alter_referral.date_ego_paid' %></th>
	</tr></thead>
	<tbody>
	<%= render partial: 'alter_referral', collection: @alter_referral_sheet.alter_referrals %>
	</tbody>
</table>
<%# end %>


<%= link_to 'Edit', edit_alter_referral_sheet_path(@alter_referral_sheet) %> |
<%= link_to 'Back', alter_referral_sheets_path %>
