<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @interview.active %>
</p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @interview.studyId, @interview.study %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @interview.completed %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @interview.start_date %>
</p>

<p>
  <strong>Complete date:</strong>
  <%= @interview.complete_date %>
</p>

<%= link_to 'Back', interviews_path %>
