<p id="notice"><%= notice %></p>

<h1>Graphs</h1>

<table>
	<thead>
		<tr>
			<th>Interview ID</th>
			<th>Expression ID</th>
			<th>Nodes</th>
			<th>Params</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<% @graphs.each do |graph| %>
			<tr>
				<td><%= link_to graph.interviewId, graph.interview %></td>
				<td><%= link_to graph.expressionId, graph.expression %></td>
				<td><%= graph.nodes %></td>
				<td><%= graph.params %></td>
				<td><%= link_to 'Show', graph %></td>
			</tr>
		<% end %>
	</tbody>
</table>
