<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewid:</strong>
  <%= @graph.interviewId %>
</p>

<p>
  <strong>Expressionid:</strong>
  <%= @graph.expressionId %>
</p>

<p>
  <strong>Nodes:</strong>
  <%= @graph.nodes %>
</p>

<p>
  <strong>Params:</strong>
  <%= @graph.params %>
</p>

<%= link_to 'Back', graphs_path %>
