<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewid:</strong>
  <%= link_to @graph.interviewId, @graph.interview %>
</p>

<p>
  <strong>Expressionid:</strong>
  <%= link_to @graph.expressionId, @graph.expression %>
</p>

<p>
  <strong>Nodes:</strong>
  <%= @graph.nodes %>
</p>

<p>
  <strong>Params:</strong>
  <%= @graph.params %>
</p>

<%= link_to 'Back', graphs_path %>
