<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @answer_list.active %>
</p>

<p>
  <strong>Listname:</strong>
  <%= @answer_list.listName %>
</p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @answer_list.studyId, study_path( @answer_list.studyId ) %>
</p>

<p>
  <strong>Listoptionnames:</strong>
  <%= @answer_list.listOptionNames %>
</p>

<%= link_to 'Back', answer_lists_path %>
