<p id="notice"><%= notice %></p>

<p>
  <strong>Date of visit:</strong>
  <%= @sti_questionnaire.date_of_visit %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @sti_questionnaire.participant_id %>
</p>

<p>
  <strong>Staff person:</strong>
  <%= @sti_questionnaire.staff_person %>
</p>

<p>
  <strong>Stitest ev:</strong>
  <%= @sti_questionnaire.stitest_ev %>
</p>

<p>
  <strong>Stitest:</strong>
  <%= @sti_questionnaire.stitest %>
</p>

<p>
  <strong>Stitest other:</strong>
  <%= @sti_questionnaire.stitest_other %>
</p>

<p>
  <strong>Stitest last:</strong>
  <%= @sti_questionnaire.stitest_last %>
</p>

<p>
  <strong>Stitest reason a:</strong>
  <%= @sti_questionnaire.stitest_reason_a %>
</p>

<p>
  <strong>Stitest reason b:</strong>
  <%= @sti_questionnaire.stitest_reason_b %>
</p>

<p>
  <strong>Stitest reason c:</strong>
  <%= @sti_questionnaire.stitest_reason_c %>
</p>

<p>
  <strong>Stitest reason d:</strong>
  <%= @sti_questionnaire.stitest_reason_d %>
</p>

<p>
  <strong>Stitest reason e:</strong>
  <%= @sti_questionnaire.stitest_reason_e %>
</p>

<p>
  <strong>Stitest reason f:</strong>
  <%= @sti_questionnaire.stitest_reason_f %>
</p>

<p>
  <strong>Stitest reason g:</strong>
  <%= @sti_questionnaire.stitest_reason_g %>
</p>

<p>
  <strong>Stitest reason h:</strong>
  <%= @sti_questionnaire.stitest_reason_h %>
</p>

<p>
  <strong>Stitest reason i:</strong>
  <%= @sti_questionnaire.stitest_reason_i %>
</p>

<p>
  <strong>Stitest reason other:</strong>
  <%= @sti_questionnaire.stitest_reason_other %>
</p>

<p>
  <strong>Stitest locn:</strong>
  <%= @sti_questionnaire.stitest_locn %>
</p>

<p>
  <strong>Stitest rslt:</strong>
  <%= @sti_questionnaire.stitest_rslt %>
</p>

<p>
  <strong>Notest reason:</strong>
  <%= @sti_questionnaire.notest_reason %>
</p>

<p>
  <strong>Stitest future:</strong>
  <%= @sti_questionnaire.stitest_future %>
</p>

<p>
  <strong>Stipercrisk:</strong>
  <%= @sti_questionnaire.stipercrisk %>
</p>

<p>
  <strong>Stistigma:</strong>
  <%= @sti_questionnaire.stistigma %>
</p>

<%= link_to 'Edit', edit_sti_questionnaire_path(@sti_questionnaire) %> |
<%= link_to 'Back', sti_questionnaires_path %>
