<p id="notice"><%= notice %></p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.date_of_visit' %>:</strong>
	<%= @sti_questionnaire.date_of_visit %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.participant_id' %>:</strong>
	<%= @sti_questionnaire.participant_id %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.staff_person' %>:</strong>
	<%= @sti_questionnaire.staff_person %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_ev' %>:</strong>
	<%= @sti_questionnaire.stitest_ev %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_a' %>:</strong>
	<%= @sti_questionnaire.stitest_a %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_b' %>:</strong>
	<%= @sti_questionnaire.stitest_b %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_c' %>:</strong>
	<%= @sti_questionnaire.stitest_c %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_d' %>:</strong>
	<%= @sti_questionnaire.stitest_d %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_e' %>:</strong>
	<%= @sti_questionnaire.stitest_e %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_f' %>:</strong>
	<%= @sti_questionnaire.stitest_f %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_g' %>:</strong>
	<%= @sti_questionnaire.stitest_g %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_h' %>:</strong>
	<%= @sti_questionnaire.stitest_h %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_i' %>:</strong>
	<%= @sti_questionnaire.stitest_i %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_j' %>:</strong>
	<%= @sti_questionnaire.stitest_j %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_other' %>:</strong>
	<%= @sti_questionnaire.stitest_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_last' %>:</strong>
	<%= @sti_questionnaire.stitest_last %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_last_never' %>:</strong>
	<%= @sti_questionnaire.stitest_last_never %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_a' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_a %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_b' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_b %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_c' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_c %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_d' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_d %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_e' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_e %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_f' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_f %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_g' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_g %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_h' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_h %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_i' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_i %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_reason_other' %>:</strong>
	<%= @sti_questionnaire.stitest_reason_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_locn' %>:</strong>
	<%= @sti_questionnaire.stitest_locn %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_locn_other' %>:</strong>
	<%= @sti_questionnaire.stitest_locn_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_rslt' %>:</strong>
	<%= @sti_questionnaire.stitest_rslt %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_a' %>:</strong>
	<%= @sti_questionnaire.notest_reason_a %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_b' %>:</strong>
	<%= @sti_questionnaire.notest_reason_b %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_c' %>:</strong>
	<%= @sti_questionnaire.notest_reason_c %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_d' %>:</strong>
	<%= @sti_questionnaire.notest_reason_d %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_e' %>:</strong>
	<%= @sti_questionnaire.notest_reason_e %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_f' %>:</strong>
	<%= @sti_questionnaire.notest_reason_f %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_g' %>:</strong>
	<%= @sti_questionnaire.notest_reason_g %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_h' %>:</strong>
	<%= @sti_questionnaire.notest_reason_h %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_i' %>:</strong>
	<%= @sti_questionnaire.notest_reason_i %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.notest_reason_other' %>:</strong>
	<%= @sti_questionnaire.notest_reason_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stitest_future' %>:</strong>
	<%= @sti_questionnaire.stitest_future %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stipercrisk' %>:</strong>
	<%= @sti_questionnaire.stipercrisk %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.sti_questionnaire.stistigma' %>:</strong>
	<%= @sti_questionnaire.stistigma %>
</p>

<%= link_to 'Edit', edit_sti_questionnaire_path(@sti_questionnaire) %> |
<%= link_to 'Back', sti_questionnaires_path %>
