<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
	<thead>
		<tr>
			<th>Email</th>
			<th>Password</th>
			<th>Name</th>
			<th>Lastactivity</th>
			<th>Permissions</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.password %></td>
				<td><%= user.name %></td>
				<td><%= user.lastActivity %></td>
				<td><%= user.permissions %></td>
				<td><%= link_to 'Show', user %></td>
			</tr>
		<% end %>
	</tbody>
</table>
