<p id="notice"><%= notice %></p>

<p>
	<strong>Email:</strong>
	<%= MCRYPT.ivdecrypt(@user.email) %>
</p>

<p>
	<strong>Password:</strong>
	<%= @user.password %>
</p>

<p>
	<strong>Name:</strong>
	<%= MCRYPT.ivdecrypt(@user.name) %>
</p>

<p>
	<strong>Lastactivity:</strong>
	<%= @user.lastActivity %>
</p>

<p>
	<strong>Permissions:</strong>
	<%= @user.permissions %>
</p>

<%= link_to 'Back', users_path %>
