<%= form_for(contact_information) do |f| %>
	<% if contact_information.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(contact_information.errors.count, "error") %> prohibited this contact_information from being saved:</h2>

			<ul>
			<% contact_information.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :data_entry_name %>
		<%= f.text_field :data_entry_name %>
	</div>

	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="field">
		<%= f.label :middle_name %>
		<%= f.text_field :middle_name %>
	</div>

	<div class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div class="field">
		<%= f.label :alternate_names %>
		<%= f.text_field :alternate_names %>
	</div>

	<div class="field">
		<%= f.label :dob %>
		<%= f.text_field :dob %>
	</div>

	<div class="field">
		<%= f.label :primary_phone_number %>
		<%= f.text_field :primary_phone_number %>
	</div>

	<div class="field">
		<%= f.label :primary_phone_type %>
		<%= f.radio_button_with_label(:primary_phone_type, "Cell") %>
		<%= f.radio_button_with_label(:primary_phone_type, "Home") %>
		<%= f.radio_button_with_label(:primary_phone_type, "Work") %>
		<%#= f.clear_all_radio_button_with_label(:primary_phone_type) %>
	</div>

	<div class="field">
		<%= f.label :primary_phone_message %>
		<%= f.radio_button_with_label(:primary_phone_message, "Y") %>
		<%= f.radio_button_with_label(:primary_phone_message, "N") %>
	</div>

	<div class="field">
		<%= f.label :primary_phone_text %>
		<%= f.radio_button_with_label(:primary_phone_text, "Y") %>
		<%= f.radio_button_with_label(:primary_phone_text, "N") %>
	</div>

	<div class="field">
		<%= f.label :secondary_phone_number %>
		<%= f.text_field :secondary_phone_number %>
	</div>

	<div class="field">
		<%= f.label :secondary_phone_type %>
		<%= f.radio_button_with_label(:secondary_phone_type, "Cell") %>
		<%= f.radio_button_with_label(:secondary_phone_type, "Home") %>
		<%= f.radio_button_with_label(:secondary_phone_type, "Work") %>
	</div>

	<div class="field">
		<%= f.label :secondary_phone_message %>
		<%= f.radio_button_with_label(:secondary_phone_message, "Y") %>
		<%= f.radio_button_with_label(:secondary_phone_message, "N") %>
	</div>

	<div class="field">
		<%= f.label :secondary_phone_text %>
		<%= f.radio_button_with_label(:secondary_phone_text, "Y") %>
		<%= f.radio_button_with_label(:secondary_phone_text, "N") %>
	</div>

	<div class="field">
		<%= f.label :tertiary_phone_number %>
		<%= f.text_field :tertiary_phone_number %>
	</div>

	<div class="field">
		<%= f.label :tertiary_phone_type %>
		<%= f.radio_button_with_label(:tertiary_phone_type, "Cell") %>
		<%= f.radio_button_with_label(:tertiary_phone_type, "Home") %>
		<%= f.radio_button_with_label(:tertiary_phone_type, "Work") %>
	</div>

	<div class="field">
		<%= f.label :tertiary_phone_message %>
		<%= f.radio_button_with_label(:tertiary_phone_message, "Y") %>
		<%= f.radio_button_with_label(:tertiary_phone_message, "N") %>
	</div>

	<div class="field">
		<%= f.label :tertiary_phone_text %>
		<%= f.radio_button_with_label(:tertiary_phone_text, "Y") %>
		<%= f.radio_button_with_label(:tertiary_phone_text, "N") %>
	</div>

	<div class="field">
		<%= f.label :primary_address %>
		<%= f.text_field :primary_address %>
	</div>

	<div class="field">
		<%= f.label :primary_city %>
		<%= f.text_field :primary_city %>
	</div>

	<div class="field">
		<%= f.label :primary_state %>
		<%= f.text_field :primary_state %>
	</div>

	<div class="field">
		<%= f.label :primary_zip %>
		<%= f.text_field :primary_zip %>
	</div>

	<div class="field">
		<%= f.label :secondary_address %>
		<%= f.text_field :secondary_address %>
	</div>

	<div class="field">
		<%= f.label :secondary_city %>
		<%= f.text_field :secondary_city %>
	</div>

	<div class="field">
		<%= f.label :secondary_state %>
		<%= f.text_field :secondary_state %>
	</div>

	<div class="field">
		<%= f.label :secondary_zip %>
		<%= f.text_field :secondary_zip %>
	</div>

	<div class="field">
		<%= f.label :hopes_data %>
		<%= f.radio_button_with_label(:hopes_data, "Y") %>
		<%= f.radio_button_with_label(:hopes_data, "N") %>
	</div>

	<div class="field">
		<%= f.label :future_data %>
		<%= f.radio_button_with_label(:future_data, "Y") %>
		<%= f.radio_button_with_label(:future_data, "N") %>
	</div>

	<div class="field">
		<%= f.label :ok_to_mail_negative_test_result %>
		<%= f.radio_button_with_label(:ok_to_mail_negative_test_result, "Y") %>
		<%= f.radio_button_with_label(:ok_to_mail_negative_test_result, "N") %>
	</div>

	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :other_person_relationship %>
		<%= f.text_field :other_person_relationship %>
	</div>

	<div class="field">
		<%= f.label :other_person_phone %>
		<%= f.text_field :other_person_phone %>
	</div>

	<div class="field">
		<%= f.label :other_person_ok_to_pass_message %>
		<%= f.radio_button_with_label(:other_person_ok_to_pass_message, "Y") %>
		<%= f.radio_button_with_label(:other_person_ok_to_pass_message, "N") %>
	</div>

	<div class="field">
		<%= f.label :referral_source %>
		<%= f.text_field :referral_source %>
	</div>

	<div class="field">
		<%= f.label :height %>
		<%= f.text_field :height %>
	</div>

	<div class="field">
		<%= f.label :build %>
		<%= f.text_field :build %>
	</div>

	<div class="field">
		<%= f.label :age %>
		<%= f.number_field :age %>
	</div>

	<div class="field">
		<%= f.label :race %>
		<%= f.text_field :race %>
	</div>

	<div class="field">
		<%= f.label :eye_color %>
		<%= f.text_field :eye_color %>
	</div>

	<div class="field">
		<%= f.label :hair %>
		<%= f.text_field :hair %>
	</div>

	<div class="field">
		<%= f.label :other_identifying_marks %>
		<%= f.text_area :other_identifying_marks %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
