<h1>CONnect the DOTs</h1>
<h2>Participant Contact Information</h2>

<p id="notice"><%= notice %></p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.data_entry_name' %>:</strong>
	<%= @contact_information.data_entry_name %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.first_name' %>:</strong>
	<%= @contact_information.first_name %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.middle_name' %>:</strong>
	<%= @contact_information.middle_name %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.last_name' %>:</strong>
	<%= @contact_information.last_name %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.alternate_names' %>:</strong>
	<%= @contact_information.alternate_names %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.dob' %>:</strong>
	<%= @contact_information.dob %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_phone_number' %>:</strong>
	<%= @contact_information.primary_phone_number %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_phone_type' %>:</strong>
	<%= @contact_information.primary_phone_type %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_phone_message' %>:</strong>
	<%= @contact_information.primary_phone_message %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_phone_text' %>:</strong>
	<%= @contact_information.primary_phone_text %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_phone_number' %>:</strong>
	<%= @contact_information.secondary_phone_number %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_phone_type' %>:</strong>
	<%= @contact_information.secondary_phone_type %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_phone_message' %>:</strong>
	<%= @contact_information.secondary_phone_message %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_phone_text' %>:</strong>
	<%= @contact_information.secondary_phone_text %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.tertiary_phone_number' %>:</strong>
	<%= @contact_information.tertiary_phone_number %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.tertiary_phone_type' %>:</strong>
	<%= @contact_information.tertiary_phone_type %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.tertiary_phone_message' %>:</strong>
	<%= @contact_information.tertiary_phone_message %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.tertiary_phone_text' %>:</strong>
	<%= @contact_information.tertiary_phone_text %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_address' %>:</strong>
	<%= @contact_information.primary_address %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_city' %>:</strong>
	<%= @contact_information.primary_city %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_state' %>:</strong>
	<%= @contact_information.primary_state %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.primary_zip' %>:</strong>
	<%= @contact_information.primary_zip %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_address' %>:</strong>
	<%= @contact_information.secondary_address %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_city' %>:</strong>
	<%= @contact_information.secondary_city %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_state' %>:</strong>
	<%= @contact_information.secondary_state %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.secondary_zip' %>:</strong>
	<%= @contact_information.secondary_zip %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.hopes_data' %>:</strong>
	<%= @contact_information.hopes_data %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.future_data' %>:</strong>
	<%= @contact_information.future_data %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.ok_to_mail_negative_test_result' %>:</strong>
	<%= @contact_information.ok_to_mail_negative_test_result %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.first_name' %>:</strong>
	<%= @contact_information.email %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.other_person_relationship' %>:</strong>
	<%= @contact_information.other_person_relationship %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.other_person_phone' %>:</strong>
	<%= @contact_information.other_person_phone %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.other_person_ok_to_pass_message' %>:</strong>
	<%= @contact_information.other_person_ok_to_pass_message %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.referral_source' %>:</strong>
	<%= @contact_information.referral_source %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.height' %>:</strong>
	<%= @contact_information.height %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.build' %>:</strong>
	<%= @contact_information.build %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.age' %>:</strong>
	<%= @contact_information.age %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.race' %>:</strong>
	<%= @contact_information.race %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.eye_color' %>:</strong>
	<%= @contact_information.eye_color %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.hair' %>:</strong>
	<%= @contact_information.hair %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.contact_information.other_identifying_marks' %>:</strong>
	<%= @contact_information.other_identifying_marks %>
</p>

<% if current_user.present? and current_user.can_update? %>
<%= link_to 'Edit', edit_contact_information_path(@contact_information) %> |
<% end %>
<%= link_to 'Back', contact_informations_path %>
