<p id="notice"><%= notice %></p>

<h1>Answers</h1>

<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Active</th>
			<th>Question ID</th>
			<th>Interview ID</th>
			<th>Alterid1</th>
			<th>Alterid2</th>
			<th>Value</th>
			<th>Otherspecifytext</th>
			<th>Skipreason</th>
			<th>Study ID</th>
			<th>Questiontype</th>
			<th>Answertype</th>
		</tr>
	</thead>

	<tbody>
		<% @answers.each do |answer| %>
			<tr>
				<td><%= link_to 'Show', answer %></td>
				<td><%= answer.active %></td>
				<td><%= link_to answer.questionId, answer.question %></td>
				<td><%= link_to answer.interviewId, answer.interview %></td>
				<td><%= link_to answer.alterId1, answer.alter1 %></td>
				<td><%= link_to answer.alterId2, answer.alter2 %></td>
				<td><%= answer.value %></td>
				<td><%= answer.otherSpecifyText %></td>
				<td><%= answer.skipReason %></td>
				<td><%= link_to answer.studyId, answer.study %></td>
				<td><%= answer.questionType %></td>
				<td><%= answer.answerType %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<%= will_paginate @answers %>

