<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @answer.active %>
</p>

<p>
  <strong>Questionid:</strong>
  <%= @answer.questionId %>
</p>

<p>
  <strong>Interviewid:</strong>
  <%= @answer.interviewId %>
</p>

<p>
  <strong>Alterid1:</strong>
  <%= @answer.alterId1 %>
</p>

<p>
  <strong>Alterid2:</strong>
  <%= @answer.alterId2 %>
</p>

<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<p>
  <strong>Otherspecifytext:</strong>
  <%= @answer.otherSpecifyText %>
</p>

<p>
  <strong>Skipreason:</strong>
  <%= @answer.skipReason %>
</p>

<p>
  <strong>Studyid:</strong>
  <%= @answer.studyId %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @answer.questionType %>
</p>

<p>
  <strong>Answertype:</strong>
  <%= @answer.answerType %>
</p>

<%= link_to 'Back', answers_path %>
