<p id="notice"><%= notice %></p>

<p>
	<strong>Active:</strong>
	<%= @answer.active %>
</p>

<p>
	<strong>Questionid:</strong>
	<%= link_to @answer.questionId, @answer.question %>
</p>

<p>
	<strong>Interviewid:</strong>
	<%= link_to @answer.interviewId, @answer.interview %>
</p>

<p>
	<strong>Alterid1:</strong>
	<%= link_to @answer.alterId1, @answer.alter1 %>
</p>

<p>
	<strong>Alterid2:</strong>
	<%= link_to @answer.alterId2, @answer.alter2 %>
</p>

<p>
	<strong>Value:</strong>
	<%= @answer.value %>
</p>

<p>
	<strong>Otherspecifytext:</strong>
	<%= @answer.otherSpecifyText %>
</p>

<p>
	<strong>Skipreason:</strong>
	<%= @answer.skipReason %>
</p>

<p>
	<strong>Studyid:</strong>
	<%= link_to @answer.studyId, @answer.study %>
</p>

<p>
	<strong>Questiontype:</strong>
	<%= @answer.questionType %>
</p>

<p>
	<strong>Answertype:</strong>
	<%= @answer.answerType %>
</p>

<%= link_to 'Back', answers_path %>
