<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @answer.active %>
</p>

<p>
  <strong>Questionid:</strong>
  <%= link_to @answer.questionId, question_path( @answer.questionId ) %>
</p>

<p>
  <strong>Interviewid:</strong>
  <%= link_to @answer.interviewId, interview_path( @answer.interviewId ) %>
</p>

<p>
  <strong>Alterid1:</strong>
  <%= link_to @answer.alterId1, alter_path( @answer.alterId1 ) %>
</p>

<p>
  <strong>Alterid2:</strong>
  <%= link_to @answer.alterId2, alter_path( @answer.alterId2 ) %>
</p>

<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<p>
  <strong>Otherspecifytext:</strong>
  <%= @answer.otherSpecifyText %>
</p>

<p>
  <strong>Skipreason:</strong>
  <%= @answer.skipReason %>
</p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @answer.studyId, study_path( @answer.studyId ) %>
</p>

<p>
  <strong>Questiontype:</strong>
  <%= @answer.questionType %>
</p>

<p>
  <strong>Answertype:</strong>
  <%= @answer.answerType %>
</p>

<%= link_to 'Back', answers_path %>
