<%= form_for(eligibility_screening) do |f| %>
	<% if eligibility_screening.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(eligibility_screening.errors.count, "error") %> prohibited this eligibility_screening from being saved:</h2>

			<ul>
			<% eligibility_screening.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :how_learned %>
		<%= f.radio_button_with_label(:how_learned, "Outreach") %>
		<%= f.radio_button_with_label(:how_learned, "Flyer") %>
		<%= f.radio_button_with_label(:how_learned, "Church/Organization") %>
		<%= f.radio_button_with_label(:how_learned, "Other") %>
		<%= f.text_field :how_learned_other %>
	</div>

	<div class="field">
		<%= f.label :age %>
		<%= f.radio_button_with_label(:age, "18-44", 1) %>
		<%= f.radio_button_with_label(:age, "Other", 0) %>
	</div>

	<div class="field">
		<%= f.label :gender %>
		<%= f.radio_button_with_label(:gender, "F/TF", 1) %>
		<%= f.radio_button_with_label(:gender, "M/TM", 0) %>
	</div>

	<div class="field">
		<%= f.label :race %>
		<a>If not black/African/African American or Latina, then ineligible</a><br/>
		<%= f.radio_button_with_label(:race, "B/A/AA/L", 1) %>
		<%= f.radio_button_with_label(:race, "Other", 0) %>
		<%= f.text_field :race_other %>
	</div>

	<div class="field">
		<%= f.label :children %>
		<a>Does not affect eligibility</a><br/>
		<%= f.radio_button_with_label(:children, "Yes", 1) %>
		<%= f.radio_button_with_label(:children, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :seen_pcp %>
		<a>Does not affect eligibility</a><br/>
		<%= f.radio_button_with_label(:seen_pcp, "Yes", 1) %>
		<%= f.radio_button_with_label(:seen_pcp, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :marital %>
		<a>Does not affect eligibility</a><br/>
		<%= f.radio_button_with_label(:marital, "Married") %>
		<%= f.radio_button_with_label(:marital, "Single") %>
		<%= f.radio_button_with_label(:marital, "Divorced") %>
		<%= f.radio_button_with_label(:marital, "Separated") %>
	</div>

	<div class="field">
		<%= f.label :tested_hiv %>
		<%= f.radio_button_with_label(:tested_hiv, "Yes") %>
		<%= f.radio_button_with_label(:tested_hiv, "No") %>
	</div>

	<div class="field">
		<%= f.label :tested_hiv_result %>
		<%= f.radio_button_with_label(:tested_hiv_result, "Neg/Unknown", 1) %>
		<%= f.radio_button_with_label(:tested_hiv_result, "Positive", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_count %>
		<a>2 or more, then eligible</a><br/>
		<%= f.radio_button_with_label(:partner_count, "2 or more", 1) %>
		<%= f.radio_button_with_label(:partner_count, "0-1", 0) %>
	</div>

	<div class="field">
		<%= f.label :injection_drugs %>
		<%= f.radio_button_with_label(:injection_drugs, "Yes", 1) %>
		<%= f.radio_button_with_label(:injection_drugs, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_injection_drugs %>
		<%= f.radio_button_with_label(:partner_injection_drugs, "Yes", 1) %>
		<%= f.radio_button_with_label(:partner_injection_drugs, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_noninjection_drugs %>
		<%= f.radio_button_with_label(:partner_noninjection_drugs, "Yes", 1) %>
		<%= f.radio_button_with_label(:partner_noninjection_drugs, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_hiv_positive %>
		<a>If yes or don’t know, then eligible</a><br/>
		<%= f.radio_button_with_label(:partner_hiv_positive, "Yes / Don't Know", 1) %>
		<%= f.radio_button_with_label(:partner_hiv_positive, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_other_partners %>
		<%= f.radio_button_with_label(:partner_other_partners, "Yes", 1) %>
		<%= f.radio_button_with_label(:partner_other_partners, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_traded_sex %>
		<%= f.radio_button_with_label(:partner_traded_sex, "Yes", 1) %>
		<%= f.radio_button_with_label(:partner_traded_sex, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :partner_man_men %>
		<%= f.radio_button_with_label(:partner_man_men, "Yes", 1) %>
		<%= f.radio_button_with_label(:partner_man_men, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :eligible_q_8_15 %>
		<%= f.radio_button_with_label(:eligible_q_8_15, "Yes", 1) %>
		<%= f.radio_button_with_label(:eligible_q_8_15, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :where_live %>
		<a>Must live in Reno, Sparks, Carson, North Valleys area</a><br/>
		<%= f.radio_button_with_label(:where_live, "R/S/C/SV", 1) %>
		<%= f.radio_button_with_label(:where_live, "Other", 0) %>
		<%= f.text_field :where_live_other %>
	</div>

	<div class="field">
		<%= f.label :willing_to_refer %>
		<a>Must be willing</a><br/>
		<%= f.radio_button_with_label(:willing_to_refer, "Yes", 1) %>
		<%= f.radio_button_with_label(:willing_to_refer, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :matched_to_ego %>
		<%= f.radio_button_with_label(:matched_to_ego, "Yes", 1) %>
		<%= f.radio_button_with_label(:matched_to_ego, "No", 0) %>
	</div>

	<div class="field">
		<%= f.label :eligible %>
		<%= f.radio_button_with_label(:eligible, "Yes", 1) %>You are eligible to enroll. Now I’d like to ask for a bit more information and set you up for your interview.
		<%= f.radio_button_with_label(:eligible, "No", 0) %>Thank you for your time, but you are not eligible to participate at this time. If anything about your situation changes you’re welcome to take this screening interview again in the future, at least one month from today.  
	</div>

	<p>To be completed after the screening interview:</p>

	<div class="field">
		<%= f.label :name_of_screener %>
		<%= f.text_field :name_of_screener %>
	</div>

	<div class="field">
		<%= f.label :location_of_screening %>
		<%= f.text_field :location_of_screening %>
	</div>

	<div class="field">
		<%= f.label :date_of_screening %>
		<%= f.date_select :date_of_screening %>
	</div>

	<div class="field">
		<%= f.label :time_of_screening %>
		<%= f.time_select :time_of_screening %>
	</div>

	<div class="field">
		<%= f.label :referred_for_interview %>
		<%= f.radio_button_with_label(:referred_for_interview, "Yes", 1) %>
		<%= f.radio_button_with_label(:referred_for_interview, "No", 0) %>
		<%= f.label :referred_appointment_date %>
		<%= f.date_select :referred_appointment_date %>
		<%= f.label :referred_appointment_time %>
		<%= f.time_select :referred_appointment_time %>
	</div>

	<div class="field">
		<%= f.label :reason_for_refusal %>
		<%= f.radio_button_with_label(:reason_for_refusal, "Too busy/not enough time", 1) %>
		<%= f.radio_button_with_label(:reason_for_refusal, "Don’t want to travel to the site", 2) %>
		<%= f.radio_button_with_label(:reason_for_refusal, "Don’t want to talk about the study topics", 3) %>
		<%= f.radio_button_with_label(:reason_for_refusal, "Not interested for some other reason", 20) %>
		<%= f.text_field :reason_for_refusal_other %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
