<p id="notice"><%= notice %></p>

<h1>Eligibility Screenings
<% if current_rails_user.present? and current_rails_user.is_admin? %>
[ <%= link_to 'Download CSV', eligibility_screenings_path(format:'csv') %> ]
<% end %>
<% if current_rails_user.present? and current_rails_user.can_create? %>
[ <%= link_to 'New Eligibility Screening', new_eligibility_screening_path %> ]
<% end %>
</h1>
<br>

<table>
	<thead>
		<tr>
			<th>Data Entry Name</th>
			<th>How learned</th>
			<th>How learned other</th>
			<th>Age</th>
			<th>Age Other</th>
			<th>Gender</th>
			<th>Gender at birth</th>
			<th>Race</th>
			<th>Race other</th>
			<th>Children</th>
			<th>Seen pcp</th>
			<th>Marital</th>
			<th>Tested hiv</th>
			<th>Tested hiv result</th>
			<th>Partner count</th>
			<th>Injection drugs</th>
			<th>Partner injection drugs</th>
			<th>Partner noninjection drugs</th>
			<th>Partner hiv positive</th>
			<th>Partner other partners</th>
			<th>Partner traded sex</th>
			<th>Partner man men</th>
			<th>Eligible q 8 15</th>
			<th>Where live</th>
			<th>Where live other</th>
			<th>Willing to refer</th>
			<th>Matched to ego</th>
			<th>Eligible</th>
			<th>Name of screener</th>
			<th>Location of screening</th>
			<th>Date of screening</th>
			<th>Time of screening</th>
			<th>Referred for interview</th>
			<th>Referred appointment date</th>
			<th>Referred appointment time</th>
			<th>Reason for refusal</th>
			<th>Reason for refusal other</th>
			<th>Show</th>
			<% if current_rails_user.present? and current_rails_user.can_destroy? %>
			<th>Edit</th>
			<th>Destroy</th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @eligibility_screenings.each do |eligibility_screening| %>
			<tr>
				<td><%= eligibility_screening.data_entry_name %></td>
				<td><%= eligibility_screening.how_learned %></td>
				<td><%= eligibility_screening.how_learned_other %></td>
				<td><%= eligibility_screening.age %></td>
				<td><%= eligibility_screening.age_other %></td>
				<td><%= eligibility_screening.gender %></td>
				<td><%= eligibility_screening.gender_at_birth %></td>
				<td><%= eligibility_screening.race %></td>
				<td><%= eligibility_screening.race_other %></td>
				<td><%= eligibility_screening.children %></td>
				<td><%= eligibility_screening.seen_pcp %></td>
				<td><%= eligibility_screening.marital %></td>
				<td><%= eligibility_screening.tested_hiv %></td>
				<td><%= eligibility_screening.tested_hiv_result %></td>
				<td><%= eligibility_screening.partner_count %></td>
				<td><%= eligibility_screening.injection_drugs %></td>
				<td><%= eligibility_screening.partner_injection_drugs %></td>
				<td><%= eligibility_screening.partner_noninjection_drugs %></td>
				<td><%= eligibility_screening.partner_hiv_positive %></td>
				<td><%= eligibility_screening.partner_other_partners %></td>
				<td><%= eligibility_screening.partner_traded_sex %></td>
				<td><%= eligibility_screening.partner_man_men %></td>
				<td><%= eligibility_screening.eligible_q_9_16 %></td>
				<td><%= eligibility_screening.where_live %></td>
				<td><%= eligibility_screening.where_live_other %></td>
				<td><%= eligibility_screening.willing_to_refer %></td>
				<td><%= eligibility_screening.matched_to_ego %></td>
				<td><%= eligibility_screening.eligible %></td>
				<td><%= eligibility_screening.name_of_screener %></td>
				<td><%= eligibility_screening.location_of_screening %></td>
				<td><%= eligibility_screening.date_of_screening %></td>
				<td><%= eligibility_screening.time_of_screening %></td>
				<td><%= eligibility_screening.referred_for_interview %></td>
				<td><%= eligibility_screening.referred_appointment_date %></td>
				<td><%= eligibility_screening.referred_appointment_time %></td>
				<td><%= eligibility_screening.reason_for_refusal %></td>
				<td><%= eligibility_screening.reason_for_refusal_other %></td>
				<td><%= link_to 'Show', eligibility_screening %></td>
				<% if current_rails_user.present? and current_rails_user.can_destroy? %>
					<td><%= link_to 'Edit', edit_eligibility_screening_path(eligibility_screening) %></td>
					<td><%= link_to 'Destroy', eligibility_screening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
