<p id="notice"><%= notice %></p>

<p>
  <strong>How did you learn about the study?:</strong>
  <%= @eligibility_screening.how_learned %>
</p>

<p>
  <strong>1) How old are you?:</strong>
  <%= @eligibility_screening.how_learned_other %>
</p>

<p>
  <strong>1) How old are you?:</strong>
  <%= @eligibility_screening.age %>
</p>

<p>
  <strong>2) What gender do you identify with?:</strong>
  <%= @eligibility_screening.sex %>
</p>

<p>
  <strong>3) What race do you identify with?:</strong>
  <%= @eligibility_screening.race %>
</p>

<p>
  <strong>Race other:</strong>
  <%= @eligibility_screening.race_other %>
</p>

<p>
  <strong>4) Do you have children?:</strong>
  <%= @eligibility_screening.children %>
</p>

<p>
  <strong>5) Have you seen a primary care physician in the past 6 months?:</strong>
  <%= @eligibility_screening.seen_pcp %>
</p>

<p>
  <strong>6) What is your marital status?:</strong>
  <%= @eligibility_screening.marital %>
</p>

<p>
  <strong>7) Have you ever been tested for HIV?:</strong>
  <%= @eligibility_screening.tested_hiv %>
</p>

<p>
  <strong>What was the result the last time you tested?:</strong>
  <%= @eligibility_screening.tested_hiv_result %>
</p>

<p>
  <strong>8) How many sex partners have you had in the past 6 months? And when I say “sex,” I mean vaginal or anal sex.:</strong>
  <%= @eligibility_screening.partner_count %>
</p>

<p>
  <strong>9) Have you ever used injection drugs? This includes medications not prescribed to you or not used as prescribed.:</strong>
  <%= @eligibility_screening.injection_drugs %>
</p>

<p>
  <strong>10) Have you had a sex partner in the past 6 months who has used injection drugs in the past 6 months?:</strong>
  <%= @eligibility_screening.partner_injection_drugs %>
</p>

<p>
  <strong>11) Have you or any of your sex partners used non-injection drugs in the past 6 months (not including marijuana)?:</strong>
  <%= @eligibility_screening.partner_noninjection_drugs %>
</p>

<p>
  <strong>12) To your knowledge, are any of your sex partners HIV positive?:</strong>
  <%= @eligibility_screening.partner_hiv_positive %>
</p>

<p>
  <strong>13) To the best of your knowledge, do any of your current sex partners have any other partners besides you?:</strong>
  <%= @eligibility_screening.partner_other_partners %>
</p>

<p>
  <strong>14) Have you or any of your sex partners ever traded sex for money, drugs, or other items of daily survival?:</strong>
  <%= @eligibility_screening.partner_traded_sex %>
</p>

<p>
  <strong>15) Have you ever had sex with a man who has sex with other men?:</strong>
  <%= @eligibility_screening.partner_man_men %>
</p>

<p>
  <strong>Eligible based on affirmative to at least one of Q 8-15? :</strong>
  <%= @eligibility_screening.eligible_q_8_15 %>
</p>

<p>
  <strong>16) Where do you live?:</strong>
  <%= @eligibility_screening.where_live %>
</p>

<p>
  <strong>Where live other:</strong>
  <%= @eligibility_screening.where_live_other %>
</p>

<p>
  <strong>17) If you are eligible for the study and you participated, would you be willing to refer friends, family, or acquaintances to participate in the study?:</strong>
  <%= @eligibility_screening.willing_to_refer %>
</p>

<p>
  <strong>18) ALTERS ONLY: Matched to Ego by coupon or
name?:</strong>
  <%= @eligibility_screening.matched_to_ego %>
</p>

<p>
  <strong>Eligible?:</strong>
  <%= @eligibility_screening.eligible %>
</p>

<p>
  <strong>Name of screener:</strong>
  <%= @eligibility_screening.name_of_screener %>
</p>

<p>
  <strong>Location of screening:</strong>
  <%= @eligibility_screening.location_of_screening %>
</p>

<p>
  <strong>Date of screening:</strong>
  <%= @eligibility_screening.date_of_screening %>
</p>

<p>
  <strong>Time of screening:</strong>
  <%= @eligibility_screening.time_of_screening %>
</p>

<p>
  <strong>Referred to study site for interview?:</strong>
  <%= @eligibility_screening.referred_for_interview %>
</p>

<p>
  <strong>Referred appointment date:</strong>
  <%= @eligibility_screening.referred_appointment_date %>
</p>

<p>
  <strong>Referred appointment time:</strong>
  <%= @eligibility_screening.referred_appointment_time %>
</p>

<p>
  <strong>If refused, reason for refusal:</strong>
  <%= @eligibility_screening.reason_for_refusal %>
</p>

<p>
  <strong>Reason for refusal other:</strong>
  <%= @eligibility_screening.reason_for_refusal_other %>
</p>

<%= link_to 'Edit', edit_eligibility_screening_path(@eligibility_screening) %> |
<%= link_to 'Back', eligibility_screenings_path %>
