<p id="notice"><%= notice %></p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.data_entry_name' %>:</strong>
	<%= @eligibility_screening.data_entry_name %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.how_learned' %>:</strong>
	<%= @eligibility_screening.how_learned %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.how_learned_other' %>:</strong>
	<%= @eligibility_screening.how_learned_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.age' %>:</strong>
	<%= @eligibility_screening.age %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.age_other' %>:</strong>
	<%= @eligibility_screening.age_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.gender' %>:</strong>
	<%= @eligibility_screening.gender %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.gender_at_birth' %>:</strong>
	<%= @eligibility_screening.gender_at_birth %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.race' %>:</strong>
	<%= @eligibility_screening.race %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.race_other' %>:</strong>
	<%= @eligibility_screening.race_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.children' %>:</strong>
	<%= @eligibility_screening.children %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.seen_pcp' %>:</strong>
	<%= @eligibility_screening.seen_pcp %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.marital' %>:</strong>
	<%= @eligibility_screening.marital %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.tested_hiv' %>:</strong>
	<%= @eligibility_screening.tested_hiv %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.tested_hiv_result' %>:</strong>
	<%= @eligibility_screening.tested_hiv_result %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_count' %>:</strong>
	<%= @eligibility_screening.partner_count %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.injection_drugs' %>:</strong>
	<%= @eligibility_screening.injection_drugs %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_injection_drugs' %>:</strong>
	<%= @eligibility_screening.partner_injection_drugs %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_noninjection_drugs' %>:</strong>
	<%= @eligibility_screening.partner_noninjection_drugs %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_hiv_positive' %>:</strong>
	<%= @eligibility_screening.partner_hiv_positive %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_other_partners' %>:</strong>
	<%= @eligibility_screening.partner_other_partners %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_traded_sex' %>:</strong>
	<%= @eligibility_screening.partner_traded_sex %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.partner_man_men' %>:</strong>
	<%= @eligibility_screening.partner_man_men %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.eligible_q_9_16' %>:</strong>
	<%= @eligibility_screening.eligible_q_9_16 %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.where_live' %>:</strong>
	<%= @eligibility_screening.where_live %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.where_live_other' %>:</strong>
	<%= @eligibility_screening.where_live_other %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.willing_to_refer' %>:</strong>
	<%= @eligibility_screening.willing_to_refer %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.matched_to_ego' %>:</strong>
	<%= @eligibility_screening.matched_to_ego %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.eligible' %>:</strong>
	<%= @eligibility_screening.eligible %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.name_of_screener' %>:</strong>
	<%= @eligibility_screening.name_of_screener %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.location_of_screening' %>:</strong>
	<%= @eligibility_screening.location_of_screening %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.date_of_screening' %>:</strong>
	<%= @eligibility_screening.date_of_screening %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.time_of_screening' %>:</strong>
	<%= @eligibility_screening.time_of_screening %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.referred_for_interview' %>:</strong>
	<%= @eligibility_screening.referred_for_interview %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.referred_appointment_date' %>:</strong>
	<%= @eligibility_screening.referred_appointment_date %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.referred_appointment_time' %>:</strong>
	<%= @eligibility_screening.referred_appointment_time %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.reason_for_refusal' %>:</strong>
	<%= @eligibility_screening.reason_for_refusal %>
</p>

<p>
	<strong><%= t 'activerecord.attributes.eligibility_screening.reason_for_refusal_other' %>:</strong>
	<%= @eligibility_screening.reason_for_refusal_other %>
</p>

<%= link_to 'Edit', edit_eligibility_screening_path(@eligibility_screening) %> |
<%= link_to 'Back', eligibility_screenings_path %>
