<p id="notice"><%= notice %></p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @alter_list.studyId, @alter_list.study %>
</p>

<p>
  <strong>Name:</strong>
  <%= @alter_list.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alter_list.email %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @alter_list.ordering %>
</p>

<p>
  <strong>Interviewerid:</strong>
  <%= link_to @alter_list.interviewerId, @alter_list.interviewer %>
</p>

<%= link_to 'Back', alter_lists_path %>
