<p id="notice"><%= notice %></p>

<p>
	<strong>Active:</strong>
	<%= @study.active %>
</p>

<p>
	<strong>Name:</strong>
	<%= @study.name %>
</p>

<p>
	<strong>Introduction:</strong>
	<%= @study.introduction %>
</p>

<p>
	<strong>Egoidprompt:</strong>
	<%= @study.egoIdPrompt %>
</p>

<p>
	<strong>Alterprompt:</strong>
	<%= @study.alterPrompt %>
</p>

<p>
	<strong>Conclusion:</strong>
	<%= @study.conclusion %>
</p>

<p>
	<strong>Minalters:</strong>
	<%= @study.minAlters %>
</p>

<p>
	<strong>Maxalters:</strong>
	<%= @study.maxAlters %>
</p>

<p>
	<strong>Valuerefusal:</strong>
	<%= @study.valueRefusal %>
</p>

<p>
	<strong>Valuedontknow:</strong>
	<%= @study.valueDontKnow %>
</p>

<p>
	<strong>ValuelogicalSkip:</strong>
	<%= @study.valueLogicalSkip %>
</p>

<p>
	<strong>Valuenotyetanswered:</strong>
	<%= @study.valueNotYetAnswered %>
</p>

<p>
	<strong>Modified:</strong>
	<%= @study.modified %>
</p>

<p>
	<strong>Multisessionegoid:</strong>
	<%= @study.multiSessionEgoId %>
</p>

<p>
	<strong>Useasalters:</strong>
	<%= @study.useAsAlters %>
</p>

<p>
	<strong>Restrictalters:</strong>
	<%= @study.restrictAlters %>
</p>

<p>
	<strong>Fillalterlist:</strong>
	<%= @study.fillAlterList %>
</p>

<p>
	<strong>Created date:</strong>
	<%= @study.created_date %>
</p>

<p>
	<strong>Closed date:</strong>
	<%= @study.closed_date %>
</p>

<p>
	<strong>Status:</strong>
	<%= @study.status %>
</p>

<p>
	<strong>Userid:</strong>
	<%= link_to @study.userId, @study.user %>
</p>

<p>
	<strong>Hideegoidpage:</strong>
	<%= @study.hideEgoIdPage %>
</p>

<p>
	<strong>Style:</strong>
	<%= @study.style %>
</p>

<p>
	<strong>Javascript:</strong>
	<%= @study.javascript %>
</p>

<p>
	<strong>Footer:</strong>
	<%= @study.footer %>
</p>

<%= link_to 'Back', studies_path %>

<style>
body {
	font-family: Calibri;
	font-size: 12pt;
	background-color: #EEEEEE;
	width: 100%;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table, td, th {
	border: 1px solid black;
}
table thead tr {
	background-color: #BBF;
}
tr {
	vertical-align: top;
}
th {
	text-align: left;
}
td, th {
	padding: 5px;
}
td.toobig{
	word-break: break-word;
}
tr.question {
	border-top: 3px double black;
}
</style>

<h2>Questions</h2>
<table><thead><tr>
        <th>ID</th>
        <th>Ordering</th>
        <th>subjectType</th>
        <th>Title</th>
        <th colspan="2">Prompt</th>
        <th>Dependency</th>
</tr></thead><tbody>

<%# The network questions have LONG STRING of char which force the table way way way too wide %>
<%# break-word helps, but squeezes other columns %>
<% ( 
	@study.questions.where(subjectType:'EGO_ID').order(:ordering) +
	@study.questions.where(subjectType:'EGO').order(:ordering) +
	@study.questions.where(subjectType:'ALTER_PAIR').order(:ordering) +
	@study.questions.where(subjectType:'ALTER').order(:ordering) +
	@study.questions.where(subjectType:'NETWORK').order(:ordering) 
	).each do |q| %>
	<tr class='question'>
		<td rowspan='<%= q.question_options.count + 1 %>'><%= q.id %></td>
		<td rowspan='<%= q.question_options.count + 1 %>'><%= q.ordering %></td>
		<td rowspan='<%= q.question_options.count + 1 %>'><%= q.subjectType %></td>
		<td rowspan='<%= q.question_options.count + 1 %>'><%= q.title %></td>
		<td class='toobig' colspan='2'><%= q.prompt %></td>



		<td rowspan='<%= q.question_options.count + 1 %>'>
		<% if q.answerReasonExpressionId.present? %>
			<%= "Expression:#{q.answerReasonExpressionId}, Question:#{Expression.find(q.answerReasonExpressionId).questionId}" %>
		<% else %>
			<%= '&nbsp;'.html_safe %>
		<% end %>
		</td>

	</tr>
	<% q.question_options.order(:ordering).each do |o| %>
		<tr>
			<td><%= o.value %></td>
			<td><%= o.name %></td>
		</tr>
	<% end %>
<% end %>

</tbody></table>


