<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @study.active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @study.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @study.introduction %>
</p>

<p>
  <strong>Egoidprompt:</strong>
  <%= @study.egoIdPrompt %>
</p>

<p>
  <strong>Alterprompt:</strong>
  <%= @study.alterPrompt %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @study.conclusion %>
</p>

<p>
  <strong>Minalters:</strong>
  <%= @study.minAlters %>
</p>

<p>
  <strong>Maxalters:</strong>
  <%= @study.maxAlters %>
</p>

<p>
  <strong>Valuerefusal:</strong>
  <%= @study.valueRefusal %>
</p>

<p>
  <strong>Valuedontknow:</strong>
  <%= @study.valueDontKnow %>
</p>

<p>
  <strong>ValuelogicalSkip:</strong>
  <%= @study.valueLogicalSkip %>
</p>

<p>
  <strong>Valuenotyetanswered:</strong>
  <%= @study.valueNotYetAnswered %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @study.modified %>
</p>

<p>
  <strong>Multisessionegoid:</strong>
  <%= @study.multiSessionEgoId %>
</p>

<p>
  <strong>Useasalters:</strong>
  <%= @study.useAsAlters %>
</p>

<p>
  <strong>Restrictalters:</strong>
  <%= @study.restrictAlters %>
</p>

<p>
  <strong>Fillalterlist:</strong>
  <%= @study.fillAlterList %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @study.created_date %>
</p>

<p>
  <strong>Closed date:</strong>
  <%= @study.closed_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @study.status %>
</p>

<p>
  <strong>Userid:</strong>
  <%= link_to @study.userId, @study.user %>
</p>

<p>
  <strong>Hideegoidpage:</strong>
  <%= @study.hideEgoIdPage %>
</p>

<p>
  <strong>Style:</strong>
  <%= @study.style %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @study.javascript %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @study.footer %>
</p>

<%= link_to 'Back', studies_path %>
