<p id="notice"><%= notice %></p>

<h1>Question Options</h1>

<table>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Active</th>
			<th>Study ID</th>
			<th>Question ID</th>
			<th>Name</th>
			<th>Value</th>
			<th>Ordering</th>
			<th>Otherspecify</th>
		</tr>
	</thead>

	<tbody>
		<% @question_options.each do |question_option| %>
			<tr>
				<td><%= link_to 'Show', question_option %></td>
				<td><%= question_option.active %></td>
				<td><%= link_to question_option.studyId, question_option.study %></td>
				<td><%= link_to question_option.questionId, question_option.question %></td>
				<td><%= question_option.name %></td>
				<td><%= question_option.value %></td>
				<td><%= question_option.ordering %></td>
				<td><%= question_option.otherSpecify %></td>
			</tr>
		<% end %>
	</tbody>
</table>
