<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @question_option.active %>
</p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @question_option.studyId, study_path( @question_option.studyId ) %>
</p>

<p>
  <strong>Questionid:</strong>
  <%= link_to @question_option.questionId, question_path( @question_option.questionId ) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question_option.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @question_option.value %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @question_option.ordering %>
</p>

<p>
  <strong>Otherspecify:</strong>
  <%= @question_option.otherSpecify %>
</p>

<%= link_to 'Back', question_options_path %>
