<% @studies.each do |study| %>
<h1>Study ID : <%= study[:id] %></h1>
<table>
	<thead>
		<tr>
			<th rowspan='3'>Racial Categories</th>
			<th colspan='9'>Ethnic Categories</th>
			<th rowspan='3'>Total</th>
		</tr>
		<tr>
			<th colspan='3'>Not Hispanic or Latino</th>
			<th colspan='3'>Hispanic or Latino</th>
			<th colspan='3'>Unknown / Not Reported Ethnicity</th>
		</tr>
		<tr>
			<th>Female</th>
			<th>Male</th>
			<th>Unknown / Not Reported</th>
			<th>Female</th>
			<th>Male</th>
			<th>Unknown / Not Reported</th>
			<th>Female</th>
			<th>Male</th>
			<th>Unknown / Not Reported</th>
		</tr>
	</thead>
	<tbody>
	<% study[:races].each do |race| %>
		<tr>
			<td><%= race %></td>
			<% d_r = study[:demographics].select{|v|v[:race].length==1 && v[:race][0] == race} %>

			<% d_r_h = d_r.select{|v| v[:hispanic][0] == "No" } %>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0] == "Female/Femenino" }.length %></td>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0] == "Male/Masculino" }.length %></td>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0].blank? || v[:gender][0] == "Other/Otro" }.length %></td>

			<% d_r_h = d_r.select{|v| v[:hispanic][0] == "Yes/Sí" } %>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0] == "Female/Femenino" }.length %></td>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0] == "Male/Masculino" }.length %></td>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0].blank? || v[:gender][0] == "Other/Otro" }.length %></td>

			<% d_r_h = d_r.select{|v| v[:hispanic].blank? || v[:hispanic][0].blank? } %>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0] == "Female/Femenino" }.length %></td>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0] == "Male/Masculino" }.length %></td>
			<td><%= d_r_h_s = d_r_h.select{|v| v[:gender][0].blank? || v[:gender][0] == "Other/Otro" }.length %></td>

			<td><%= d_r.length %></td>
		</tr>
	<% end %>
		<tr>
			<td colspan='11'>Total Enrollment:&nbsp;&nbsp;<%= study[:demographics].length %></td>
		</tr>
	</tbody>
</table>
<% end %>
