<ul>
<li>Reports ...</li>
<li><%= link_to 'ALL Demographic Counts', demographic_counts_statics_path %></li>
<li><%= link_to 'Black Demographic Counts', black_demographic_counts_statics_path %></li>
<li><%= link_to 'Latina Demographic Counts', latina_demographic_counts_statics_path %></li>
<li><%= link_to 'Trans Demographic Counts', trans_demographic_counts_statics_path %></li>
<li><%= link_to 'Leftover Demographic Counts', leftover_demographic_counts_statics_path %></li>
<li><%= link_to 'Alters Per Ego', alters_per_ego_statics_path %></li>
<li><%= link_to 'Screening Report Eligible', screening_report_eligible_statics_path %></li>
<li><%= link_to 'STI Counts', sti_counts_statics_path %></li>

<li>&nbsp;</li>
<li><hr/></li>
<li>&nbsp;</li>
<li>Rails Specific Resources ...</li>
<li>&nbsp;</li>
<li><%= link_to "STI Questionnaires (#{StiQuestionnaire.count})", sti_questionnaires_path %></li>
<li><%= link_to "Contact Informations (#{ContactInformation.count})", contact_informations_path %></li>
<li><%= link_to "Eligibility Screenings (#{EligibilityScreening.count})", eligibility_screenings_path %></li>
<li><%= link_to "Testing Facilitations (#{TestingFacilitation.count})", testing_facilitations_path %></li>
<li><%= link_to "Interview Notes (#{InterviewNote.count})", interview_notes_path %></li>
<li><%= link_to "Alter Referral Sheets (#{AlterReferralSheet.count})", alter_referral_sheets_path %></li>

<li>&nbsp;</li>
<li><hr/></li>
<li>&nbsp;</li>
<li>EGO Web Resources ...</li>
<li>&nbsp;</li>
<li><%= link_to "Alters (#{Alter.count})", alters_path %></li>
<li><%= link_to "Alter Lists (#{AlterList.count})", alter_lists_path %></li>
<li><%= link_to "Alter Prompts (#{AlterPrompt.count})", alter_prompts_path %></li>
<li><%= link_to "Answers (#{Answer.count})", answers_path %></li>
<li><%= link_to "Answer Lists (#{AnswerList.count})", answer_lists_path %></li>
<li><%= link_to "Expressions (#{Expression.count})", expressions_path %></li>
<li><%= link_to "Graphs (#{Graph.count})", graphs_path %></li>
<li><%= link_to "Interviews (#{Interview.count})", interviews_path %></li>
<li><%= link_to "Interviewers (#{Interviewer.count})", interviewers_path %></li>
<li><%= link_to "Legends (#{Legend.count})", legends_path %></li>
<li><%= link_to "Matched Alters (#{MatchedAlter.count})", matched_alters_path %></li>
<li><%= link_to "Notes (#{Note.count})", notes_path %></li>
<li><%= link_to "Other Specifies (#{OtherSpecify.count})", other_specifies_path %></li>
<li><%= link_to "Questions (#{Question.count})", questions_path %></li>
<li><%= link_to "Question Options (#{QuestionOption.count})", question_options_path %></li>
<li><%= link_to "Studies (#{Study.count})", studies_path %></li>
<li><%= link_to "Users (#{User.count})", users_path %></li>

</ul>
