<ul>
<li><%= link_to 'Alters', alters_path %></li>
<li><%= link_to 'Alter Lists', alter_lists_path %></li>
<li><%= link_to 'Alter Prompts', alter_prompts_path %></li>
<li><%= link_to 'Answers', answers_path %></li>
<li><%= link_to 'Answer Lists', answer_lists_path %></li>
<li><%= link_to 'Expressions', expressions_path %></li>
<li><%= link_to 'Graphs', graphs_path %></li>
<li><%= link_to 'Interviews', interviews_path %></li>
<li><%= link_to 'Interviewers', interviewers_path %></li>
<li><%= link_to 'Legends', legends_path %></li>
<li><%= link_to 'Matched Alters', matched_alters_path %></li>
<li><%= link_to 'Notes', notes_path %></li>
<li><%= link_to 'Other Specifies', other_specifies_path %></li>
<li><%= link_to 'Questions', questions_path %></li>
<li><%= link_to 'Question Options', question_options_path %></li>
<li><%= link_to 'Studies', studies_path %></li>
<li><%= link_to 'Users', users_path %></li>
</ul>
