<ul>
<li><%= link_to 'Reports', reports_statics_path %></li>
<li>&nbsp;</li>
<li><%= link_to "Alters (#{Alter.count})", alters_path %></li>
<li><%= link_to "Alter Lists (#{AlterList.count})", alter_lists_path %></li>
<li><%= link_to "Alter Prompts (#{AlterPrompt.count})", alter_prompts_path %></li>
<li><%= link_to "Answers (#{Answer.count})", answers_path %></li>
<li><%= link_to "Answer Lists (#{AnswerList.count})", answer_lists_path %></li>
<li><%= link_to "Expressions (#{Expression.count})", expressions_path %></li>
<li><%= link_to "Graphs (#{Graph.count})", graphs_path %></li>
<li><%= link_to "Interviews (#{Interview.count})", interviews_path %></li>
<li><%= link_to "Interviewers (#{Interviewer.count})", interviewers_path %></li>
<li><%= link_to "Legends (#{Legend.count})", legends_path %></li>
<li><%= link_to "Matched Alters (#{MatchedAlter.count})", matched_alters_path %></li>
<li><%= link_to "Notes (#{Note.count})", notes_path %></li>
<li><%= link_to "Other Specifies (#{OtherSpecify.count})", other_specifies_path %></li>
<li><%= link_to "Questions (#{Question.count})", questions_path %></li>
<li><%= link_to "Question Options (#{QuestionOption.count})", question_options_path %></li>
<li><%= link_to "Studies (#{Study.count})", studies_path %></li>
<li><%= link_to "Users (#{User.count})", users_path %></li>
<li>&nbsp;</li>
<li><%= link_to "Contact Informations (#{ContactInformation.count})", contact_informations_path %></li>
<li><%= link_to "Eligibility Screenings (#{EligibilityScreening.count})", eligibility_screenings_path %></li>
<li><%= link_to "Testing Facilitations (#{TestingFacilitation.count})", testing_facilitations_path %></li>
<li><%= link_to "Interview Notes (#{InterviewNote.count})", interview_notes_path %></li>
</ul>




<% if !current_rails_user %>
  <%= link_to "Log In", new_rails_user_session_path %>
<% else %>
  <%= link_to "Logout", rails_user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
<% end %>
