
<h2>Reports</h2>

<ul>
	<li><%= link_to 'ALL Demographic Counts', demographic_counts_statics_path %></li>
	<li><%= link_to 'Black Demographic Counts', black_demographic_counts_statics_path %></li>
	<li><%= link_to 'Latina Demographic Counts', latina_demographic_counts_statics_path %></li>
	<li><%= link_to 'Trans Demographic Counts', trans_demographic_counts_statics_path %></li>
	<li><%= link_to 'Leftover Demographic Counts', leftover_demographic_counts_statics_path %></li>
	<li><%= link_to 'Alters Per Ego', alters_per_ego_statics_path %></li>
	<li><%= link_to 'Screening Report Eligible', screening_report_eligible_statics_path %></li>
	<li><%= link_to 'STI Counts', sti_counts_statics_path %></li>
</ul>

