
<h2>Edit Password</h2>
<%= form_for( current_user, :url => password_path,
	:method => :put,
	:class => 'edit_user' ) do |f| %>

	<% if current_user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% current_user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class='current_password field'>
		<%= f.label :current_password %>
		<%= f.password_field :current_password %>
	</div><!-- class='current_password' -->

	<div class='password field'>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div><!-- class='password' -->

	<div class='password_confirmation field'>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div><!-- class='password_confirmation' -->

	<div class="actions">
		<%= f.submit %>
	</div>

<p><%#=required('*')-%>&nbsp;-&nbsp;Password requires at least one lowercase and one uppercase letter, one number and one special character </p>
<% end %>
