<p id="notice"><%= notice %></p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @alter_prompt.studyId, study_path( @alter_prompt.studyId ) %>
</p>

<p>
  <strong>Afteraltersentered:</strong>
  <%= @alter_prompt.afterAltersEntered %>
</p>

<p>
  <strong>Display:</strong>
  <%= @alter_prompt.display %>
</p>

<%= link_to 'Back', alter_prompts_path %>
