<p id="notice"><%= notice %></p>

<p>
	<strong>Studyid:</strong>
	<%= link_to @alter_prompt.studyId, @alter_prompt.study %>
</p>

<p>
	<strong>Afteraltersentered:</strong>
	<%= @alter_prompt.afterAltersEntered %>
</p>

<p>
	<strong>Display:</strong>
	<%= @alter_prompt.display %>
</p>

<%= link_to 'Back', alter_prompts_path %>
