<p id="notice"><%= notice %></p>

<h1>Alters</h1>

<table>
  <thead>
    <tr>
      <th>Studyid</th>
      <th>Active</th>
      <th>Ordering</th>
      <th>Name</th>
      <th>Interviewid</th>
      <th>Alterlistid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alters.each do |alter| %>
      <tr>
        <td><%= alter.studyId %></td>
        <td><%= alter.active %></td>
        <td><%= alter.ordering %></td>
        <td><%= alter.name %></td>
        <td><%= alter.interviewId %></td>
        <td><%= alter.alterListId %></td>
        <td><%= link_to 'Show', alter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
