<p id="notice"><%= notice %></p>

<p>
	<strong>Active:</strong>
	<%= @alter.active %>
</p>

<p>
	<strong>Ordering:</strong>
	<%= @alter.ordering %>
</p>

<p>
	<strong>Name:</strong>
	<%= @alter.name %>
</p>

<p>
	<strong>Interviewid:</strong>
	<%= link_to @alter.interviewId, @alter.interview %>
</p>

<p>
	<strong>Alterlistid:</strong>
	<%= link_to @alter.alterListId, @alter.alter_list %>
</p>

<%= link_to 'Back', alters_path %>
