<p id="notice"><%= notice %></p>

<p>
  <strong>Studyid:</strong>
  <%= link_to @legend.studyId, study_path( @legend.studyId ) %>
</p>

<p>
  <strong>Questionid:</strong>
  <%= link_to @legend.questionId, question_path( @legend.questionId ) %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @legend.shape %>
</p>

<p>
  <strong>Label:</strong>
  <%= @legend.label %>
</p>

<p>
  <strong>Color:</strong>
  <%= @legend.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @legend.size %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @legend.ordering %>
</p>

<%= link_to 'Back', legends_path %>
