<!DOCTYPE html>
<html>
	<head>
		<title>EgoBrowse</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
	<p>
		<span><%= link_to "EGO Browse", root_url %></span>
		<span>&nbsp;/&nbsp;</span>
		<span><%= link_to "EGO Web", root_url(port: nil) %></span>
	<% if current_user %>
		<span style='float:right;'>
			<%= link_to "Logout #{current_user.login}", rails_user_session_path, method: :delete, data: { confirm: "Are you sure you want to logout?" } %>
			<span>&nbsp;|&nbsp;</span>
			<%= link_to "Change Password", edit_password_path %>
		<% if current_user.is_admin? %>
			<span>&nbsp;|&nbsp;</span>
			<%= link_to "Users", rails_users_path %>
		<% end %>
		</span>
	<% end %>
		</p>
		<% flash.keys.each do |key| %>
			<p class='flash <%=key-%>'><%=flash[key]-%></p>
		<% end	#flash.keys.each do |key| %>
		<%= yield %>
	</body>
</html>
