<p id="notice"><%= notice %></p>

<p>
	<strong>Optionid:</strong>
	<%= @other_specify.optionId %>
</p>

<p>
	<strong>Interviewid:</strong>
	<%= link_to @other_specify.interviewId, @other_specify.interview %>
</p>

<p>
	<strong>Value:</strong>
	<%= @other_specify.value %>
</p>

<p>
	<strong>Alterid:</strong>
	<%= link_to @other_specify.alterId, @other_specify.alter %>
</p>

<%= link_to 'Back', other_specifies_path %>
