<p id="notice"><%= notice %></p>

<p>
  <strong>Optionid:</strong>
  <%= @other_specify.optionId %>
</p>

<p>
  <strong>Interviewid:</strong>
  <%= @other_specify.interviewId %>
</p>

<p>
  <strong>Value:</strong>
  <%= @other_specify.value %>
</p>

<p>
  <strong>Alterid:</strong>
  <%= @other_specify.alterId %>
</p>

<%= link_to 'Back', other_specifies_path %>
